*{
  margin: 0;
  padding: 0;
  scrollbar-width: none;

}



::-webkit-scrollbar { /*Chrome*/
  display: none;
}

:root {
  --prussian_blue: #00376b;
  --carolina_blue: #2d96cd;
  --platinum: #e8e8e8;
  --silver: #c4c4c4;
}

