.products-carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem;
}



.card{
    width: 14.55rem;
    height: 14.875rem;
    border-radius: 3px;
    background: #F7F8FA;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
   
  
  }
  
  .cardMainImage{
    height: 10.06rem;
    width: 14.48rem;
    object-fit: cover;
  }
  
  .cardInfoProduct h2{
    
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: .7rem;
  
  }
  
  .cardInfoProductPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cardInfoProductPrice  p{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: #4ECDC4;
  }
  
  .cardInfoProduct{
    margin: .2rem 0.81rem .87rem 0.81rem;
  }
  
  .cardCart{
    width: 1.43rem;
    height: auto;
  }