*{
    margin: 0;
    box-sizing: border-box;
}
body{

}
.titleRegister{
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 10px;

}
.social-box {
    text-align: center;
    font-size: 16px;
}

    .social-box Button {
        width: 40%;
        color: black;
        background: rgba(0, 0, 0, 0);
        border: 1px solid #ababab;
        padding: 10px 20px;
        border-radius: 4px;
        transition: all .60s;
        margin: 10px 10px;
    }

        .social-box Button:nth-child(1):hover {
            background: #ff685c;
            color: #fff;
        }

        .social-box Button:nth-child(2):hover {
            background: #3b5898;
            color: #fff;
        }

        .social-box Button img {
            width: 20px;
            position: relative;
            left: -20px;
        }

.inputRegister form-control-feedback {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.inputRegister form-control {
    padding-left: 30px !important;
}
.fa-solid {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/*Registro*/
.image {
    min-height: 100vh;
}

.imagenregistro {
    background-image: url('https://www.hdcarwallpapers.com/walls/ford_f_150_raptor_r_2023_5k-HD.jpg');
    background-size: cover;
    background-position: center center;
}

/* .intento{
  position: absolute;
  top: 22px;
  left: 20px;
    
} */