.filter-product {
  background: #0d3676;
  box-shadow: 10px 9px 4px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  width: 100vw;
  height: 39vh;
  padding: 1rem;
  top: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}
.filter-product-container {
  display: flex;
  justify-content: center;
}

.text_filter {
  color: #fff;
}

.filter-product-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter-product-dropdown .p-dropdown.filter-product-dropdown__custom {
  width: 30rem;
}
