.header-store{
    background-image: url("/public/images/others/store.png");
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-main{
    position: relative;

}


.header-store-text-body{
    font-size: 1rem;
    margin: .5rem 0;
}

.header-store-text-tittle{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}
.filter-product{
    background: #0D3676;
    box-shadow: 10px 9px 4px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    width: 35vw;
    height: 39vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
   
    
}
.filter-product-container{
    display: flex;
    justify-content: center;
    
    
}

.text{
    color: #fff;
}

.filter-product-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.filter-product-dropdown .p-dropdown.filter-product-dropdown__custom{
    width: 13rem;
}
.filter-product .p-inputtext.filter-product-input{
    width: 13rem;
}