.card-product{
    width: 17.55rem;
    /* height: 23.3rem;; */
    border-radius: 3px;
    background: #F7F8FA;
    /* background-color: var(--silver); */
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
   
  
}

.card-product__details__title{
    
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    margin: .4rem 0 0 0;
  
}


  
.card-product__details__text{
    
  font-family: 'Red Hat Text', sans-serif;
  font-size: .7rem;
  color:rgb(0, 0, 0);
  margin: 0;


}
  
.card-product__price{
  display: flex;
  justify-content: space-between;
  border-top: 1.5px rgb(185, 187, 187) solid ;
  margin-top: .5rem;
  padding: .3rem 0;
}


.card-product__info{
  padding: .5rem;
}


  

.card-product__price__icon{
  font-size: 1rem;
  cursor: pointer;
  color: rgb(255 255 255);
  background-color: var(--prussian_blue);
  height: auto;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.card-product__price__icon:hover{
  color: #000000;
}
.card-product__price__amount{
  color: var(--prussian_blue);
  font-weight: bold;
  margin: 0;
}
  

.card-product__details__labels{
    display: flex;
    justify-content: flex-start;
    column-gap: .4rem;
}

.card-product__details__labels__item{
  font-size: .7rem;
  color: rgb(185, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
}
.card-product--link{
  text-decoration: none;
}

.card-product__img--size{
  height: 13.06rem;
  width: 17.55rem;
  object-fit: cover;
}

