.dc-checkout-personal__form__input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem .3rem;
    margin: 1.2rem 0 0 0;
    justify-content: center;
    align-items: center;
    
}

.dc-checkout-personal__form__input .p-dropdown {
    width: 17rem;
}
.dc-checkout-personal__form__input .p-inputtext {
    width: 17rem;
}

.dc-checkout-personal__form__header{
    display: flex;
    justify-content: space-between;
}
.dc-checkout-personal__form{
    margin: 1.5rem 0 0 0;
}