.dc-home-brands__btns__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.dc-home-brands__btns{
    display: flex;
    justify-content: space-between;
}

.dc-home-brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.dc-home-brands__btns__item__img{
    width: 6rem;
}

.dc-ford-logo{
    width: 8rem;
    margin: auto;
}

.dc-home-brands .p-button.dc-home-brands-btn{
    background-color: var(--prussian_blue);
    border-color: var(--prussian_blue);
    font-size: .8rem;
}
.dc-home-brands .p-button.dc-home-brands-btn:hover{
    background-color: var(--prussian_blue_hover);
    border-color: var(--prussian_blue);
    font-size: .8rem;
}

.dc-home-brands__title{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

@media screen and (max-width:480px) {

    .dc-home-brands__btns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dc-home-brands__btns__item__img{
        width: 8rem;
        margin: 1rem 0 1rem 0;
    }

    .dc-home-brands__btns__item{        
        height: 12rem;
      
    }

    .dc-ford-logo{
        width: 9.5rem;
        margin: auto;
    }   

    .dc-home-brands__title{
        font-size: 1.7rem;
        font-weight: bold;
        margin: 0 .5rem 1rem 0.5rem;
        text-align: center;
    }
    
}