.dc-checkout {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  gap: 2rem;
}

.dc-checkout__views {
  width: 40vw;
}
.dc-checkout__views__content {
  margin: 1rem 0 0 0;
}

.dc-checkout__views__bc .p-breadcrumb.dc-checkout__views__bc__custom {
  border: none;
}

.dc-checkout__views__bc {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
  .dc-checkout {
    flex-direction: column;
  }
  .dc-checkout__views {
    width: 90vw;
  }
}

@media screen and (max-width: 480px) {
  .dc-checkout {
    flex-direction: column;
  }
  .dc-checkout__views {
    width: 90vw;
  }
}
