
body{
    overflow: hidden;
}
.reset-password-c{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: black;
   
}
.reset-password-c-container{
    width: 17rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: .6rem;    */
}

.login-banner{
    width: 60vw;
    height: 100%;
}
.cardCart{
    height: 100vh;
}
.login-banner img{
    width: 100%;
    object-fit: cover;
}

.reset-password-c-register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reset-password-c-container-header{
    margin-bottom: 1rem;
}

.reset-password-c-form{
    width: 40vw;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: black;  
}

.reset-password-c-login{
    width: 17rem;
    margin: .5rem 0 .5rem 0;
}

.reset-password-c-login input{
    width: 17rem;
    
}

.navlink-style{
    text-decoration: none;
}

.white{
    color: #fff;
}

.input-c p{
    margin: 0;
    color: #fff;

}